.projects_section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark-third);
    padding: 90px 2rem;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}