.projects_section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark-third);
    padding: 90px 2rem;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.p_seemore {
    display: none;
}

@media(max-width:800px) {
    .projects_section {
        padding: 90px 0;
    }

    .projects_list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 1rem;
        justify-content: start;
    }

    .p_seemore{
        display: block;
    }
}