@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #0D1F2D;
    --cor3: #546A7B;
    --cor4: #C7CEDB;
    --cor5: #222341;
    --cor6: #2DD881;
    --cor7: #546A7B;
    --cor9: #fffFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* MOBILEEEEEEEE */

@media(max-width:890px) {

/* LANDING PAGE */
    #home-bloco {
        background-color: var(--cor2);
        display: flex;
        height: 120vh;
        max-height: 100%;
        width: 100vw;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .home-meio-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }

    .home-conteudo-txt {
        text-align: center;
        max-width: 100%;
        color: var(--cor9);
        font-size: 1.5rem;
    }

    .home-conteudo-txt p {
        font-weight: 300;
    }

    .home-conteudo-btn {
        display: flex;
        max-width: 100%;
        margin-top: 2rem;
        justify-content: center;
    }

    .home-conteudo-btn button {
        background: none;
        border: none;
    }

    .home-conteudo-btn a {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 5px 2rem;
        color: var(--cor2);
        background-color: var(--cor6);
        border: 3px solid var(--cor6);
        transition: all 0.5s;
    }

    .home-conteudo-btn a:hover {
        background: none;
        color: var(--cor6);
    }

/* FECHA LANDING PAGE */

/* SOBREEEEE */

    #sobre-bloco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: var(--cor5);
        padding: 10vh 1rem;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 3px solid var(--cor3);
    }

    .sobre-container h1 {
        color: var(--cor6);
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
    }

    .sobre-txt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .sobre-txt p {
        color: var(--cor9);
        text-align: justify;
        font-size: 1rem;
        line-height: 2rem;
    }

    .sobre-icons {
        color: var(--cor6);
        justify-content: space-between;
        font-size: 1.5rem;
    }

}

/* FECHA MOBILEEE */

@media(min-width:890px){
/* LANDING PAGE */
    #home-bloco {
        background-color: var(--cor2);
        display: flex;
        height: 120vh;
        max-height: 100%;
        align-items: center;
        justify-content: center;
    }

    .home-meio-conteiner{
        display: flex;
        width: 100vw;
        max-width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 0 5vw;
    }

    .home-conteudo-txt{
        color: var(--cor9);
    }

    .home-conteudo-txt h1 {
        font-size: 3.5rem;
    }

    .home-conteudo-txt p {
        font-size: 2rem;
    }

    .home-conteudo-btn {
        display: flex;
        max-width: 100%;
        margin-top: 2rem;
    }

    .home-conteudo-btn button {
        background: none;
        border: none;
    }

    .home-conteudo-btn a {
        width: 100%;
        height: 100%;
        font-size: 2.3rem;
        font-weight: 500;
        padding: 0 2rem;
        color: var(--cor2);
        background-color: var(--cor6);
        border: 3px solid var(--cor6);
        transition: all 0.5s;
    }

    .home-conteudo-btn a:hover {
        background: none;
        color: var(--cor6);
    }
/* FECHA LANDING PAGE */

/* SOBREEEEE */

    #sobre-bloco {
        background-color: var(--cor5);
        display: flex;
        height: 120vh;
        max-height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 10vw;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 3px solid var(--cor3);
    }

    .sobre-container h1 {
        color: var(--cor6);
        font-size: 3.5rem;
        text-align: center;
        text-decoration: underline;
    }

    .sobre-txt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .sobre-txt p {
        color: var(--cor9);
        font-size: 1.5rem;
        text-align: justify;
        line-height: 2rem;
    }

    .sobre-icons {
        color: var(--cor6);
        justify-content: space-between;
        font-size: 1.5rem;
    }




}



