@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #0D1F2D;
    --cor3: #546A7B;
    --cor4: #C7CEDB;
    --cor5: #222341;
    --cor6: #2DD881;
    --cor7: #546A7B;
    --cor9: #fffFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* MOBILEEEEEEEE */

@media(max-width:890px) {

/* LANDING PAGE */
    #home-bloco {
        background-color: var(--cor2);
        display: flex;
        height: 120vh;
        max-height: 100%;
        width: 100vw;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .home-meio-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }

    .home-conteudo-txt {
        text-align: center;
        max-width: 100%;
        color: var(--cor9);
        font-size: 1.5rem;
    }

    .home-conteudo-txt p {
        font-weight: 300;
    }

    .home-conteudo-btn {
        display: flex;
        max-width: 100%;
        margin-top: 2rem;
        justify-content: center;
    }

    .home-conteudo-btn button {
        background: none;
        border: none;
    }

    .home-conteudo-btn a {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 5px 2rem;
        color: var(--cor2);
        background-color: var(--cor6);
        border: 3px solid var(--cor6);
        transition: all 0.5s;
    }

    .home-conteudo-btn a:hover {
        background: none;
        color: var(--cor6);
    }

/* FECHA LANDING PAGE */

/* SOBREEEEE */

    #sobre-bloco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: var(--cor5);
        padding: 10vh 1rem;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 3px solid var(--cor3);
        align-items: center;
    }

    .sobre-container h1 {
        color: var(--cor6);
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
    }

    .sobre-img {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 3px solid var(--cor6);
        padding: 5px;
    }

    .sobre-txt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .sobre-txt p {
        color: var(--cor9);
        text-align: justify;
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 300;
    }

    .sobre-icons {
        color: var(--cor6);
        justify-content: space-between;
        font-size: 1.5rem;
    }

/* PROJETOS */

    #projetos-bloco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: var(--cor3);
    }

    .projetos-titulo {
        display: inline-flex;
        background-color: var(--cor5);
        color: var(--cor6);
        font-size: 2rem;
        text-decoration: underline;
        max-width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 1rem;
    }

    .projetos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 4rem;
    }

    .projetos-card {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 2rem;
    }

    .projetos-conteudo {
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--cor5);
        color: var(--cor9);
        border: 3px solid var(--cor6);
        border-radius: 15px;
        padding: 1rem;
        align-items: center;
        gap: 1rem;
    }

    .projetos-conteudo h2 {
        font-size: 2rem;
        color: var(--cor6);
        text-align: center;
    }

    .projetos-btn {
        display: flex;
        width: 100%;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .projetos-btn a {
        color: var(--cor2);
        background-color: var(--cor6);
        padding: 0.3rem 1rem;
        border-radius: 5px;
        border: 2px solid var(--cor6);
        transition: all 0.5s;
    }

    .projetos-img {
        display: flex;
        background-color: #546A7B;
        width: 100%;
        max-width: 100%;
        height: 200px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .projetos-img p {
        background-color: #0D1F2D;
        display: flex;
        width: 100%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .projetos-btn a:hover {
        color: var(--cor6);
        background-color: var(--cor2);
    }

    .projetos-conteudo p {
        color: var(--cor9);
        text-align: justify;
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 300;
    }

}

/* FECHA MOBILEEE */
/* FECHA MOBILEEE */
/* FECHA MOBILEEE */
/* FECHA MOBILEEE */
/* FECHA MOBILEEE */
/* FECHA MOBILEEE */
/* FECHA MOBILEEE */

@media(min-width:891px){
/* LANDING PAGE */
    #home-bloco {
        background-color: var(--cor2);
        display: flex;
        height: 120vh;
        max-height: 100%;
        align-items: center;
        justify-content: center;
    }

    .home-meio-conteiner{
        display: flex;
        width: 100vw;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
    }

    .home-conteudo-txt{
        max-width: 50vw;
        color: var(--cor9);
    }
    

    .home-conteudo-txt h1 {
        font-size: 3rem;
    }

    .home-conteudo-txt p {
        font-size: 2rem;
        font-weight: 200;
    }

    .home-conteudo-btn {
        display: flex;
        max-width: 100%;
        margin-top: 1rem;
    }

    .home-conteudo-btn button {
        background: none;
        border: none;
    }

    .home-conteudo-btn a {
        width: 100%;
        height: 100%;
        font-size: 2.3rem;
        font-weight: 500;
        padding: 0 2rem;
        color: var(--cor2);
        background-color: var(--cor6);
        border: 3px solid var(--cor6);
        transition: all 0.5s;
    }

    .home-conteudo-btn a:hover {
        background: none;
        color: var(--cor6);
    }

    .home-meio-img {
        width: 30vw;
        max-width: 100%;
        height: 30vw;
        background-color: var(--cor2);
        border: 3px solid var(--cor6);
        border-radius: 100%;
    }

/* FECHA LANDING PAGE */

/* SOBREEEEE */

    #sobre-bloco {
        background-color: var(--cor5);
        display: flex;
        height: 100%;
        max-height: 100%;
        align-items: center;
        justify-content: center;
        padding: 3rem 10vw;
    }

    .sobre-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: 3px solid var(--cor3);
        row-gap: 3rem;
        border-radius: 5px;
        box-shadow: 3px 3px 5px #0000004f;
    }

    .sobre-container h1 {
        color: var(--cor6);
        font-size: 3.5rem;
        text-align: center;
        text-decoration: underline;
    }

    .sobre-img {
        width: 300px;
        height: 300px;
        background-color: #546A7B;
        border: 3px solid var(--cor6);
        border-radius: 100%;
    }

    .sobre-txt {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .sobre-txt p {
        color: var(--cor9);
        font-size: 1.5rem;
        text-align: justify;
        line-height: 2rem;
    }

    .sobre-icons {
        color: var(--cor6);
        justify-content: space-between;
        font-size: 1.5rem;
    }

/* PROJETOS */

#projetos-bloco {
    background-color: var(--cor3);
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 3rem;
}

.projetos-titulo{
    color: var(--cor6);
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

.projetos-card {
    display: flex;
    height: auto;
    width: 95vw;
    max-width: 100%;
    columns: 2;
    flex-wrap: wrap;
    gap: 10vh 20%;
}

.projetos-conteudo {
    display: flex;
    flex-direction: column-reverse;
    width: 40%;
    background-color: var(--cor5);
    color: var(--cor9);
    border: 3px solid var(--cor6);
    border-radius: 10px;
    padding: 1rem;
    row-gap: 1rem;
    box-shadow: 3px 3px 5px #0000004f;
}

.projetos-txt h2 {
    color: var(--cor6);
    font-size: 2rem;
}

.projetos-txt p {
    color: var(--cor9);
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
}

.projetos-img {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 200px;
    background-color: var(--cor7);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.projetos-img p {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: var(--cor2);
    align-items: center;
    justify-content: center;
}

.projetos-btn {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
}

.projetos-btn a {
    color: var(--cor2);
    background-color: var(--cor6);
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--cor6);
    transition: all 0.5s;
}

.projetos-btn a:hover {
    color: var(--cor6);
    background-color: var(--cor5);
}

/* CONTATO */

#contato-bloco {
    background-color: var(--cor2);
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100%;
}

.contato-conteiner{
    display: flex;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--cor2);
    padding: 3rem 1rem;
}

.contato-left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    height: 110vh;
}

.contato-txt {
    height: 50%;
}

.contato-txt h1 {
    color: var(--cor6);
}

.contato-txt p {
    color: var(--cor6);
    font-weight: 300;
}

.contato-txt a {
    color: var(--cor6);
}

.contato-txt ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.contato-txt ul li a {
    border: 3px solid transparent;
    transition: all 0.5s;
}

.contato-txt ul li a:hover {
    border-bottom: 3px solid var(--cor6);
}

.contato-right {
    display: flex;
    width: 50vw;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    height: 110vh;
}

.form-card {
    background-color: var(--cor5);
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #0000004f;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    row-gap: 1rem;
}

.form-card > a {
    font-weight: 700;
    color: var(--cor9);
    font-size: 1.5rem;
}

.campos-form {
    display: flex;
    flex-direction: column;
}

.campos-form input {
    background-color: var(--cor7);
    border-radius: 8px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--cor9);
    font-weight: 600;
}

.campos-form input::placeholder{
    color: #7d9eb6;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.campos-form label {
    color: var(--cor9);
    font-size: 1.3rem;
    font-weight: 300;
}

.campos-form textarea {
    background-color: var(--cor7);
    border-radius: 8px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--cor9);
    font-weight: 600;
}

.campos-form textarea::placeholder{
    color: #7d9eb6;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.btns-form {
    display: flex;
    justify-content: space-between;
}

.btns-form button {
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: var(--cor6);
    color: var(--cor5);
    border-radius: 4px;
    border: 2px solid var(--cor6);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.5s;
}

.btns-form button:active {
    background-color: var(--cor6);
    color: var(--cor5);
}
.btns-form button:hover {
    background-color: var(--cor5);
    color: var(--cor6);
    box-shadow: 3px 3px 8px #2dd8804f;
}


}



