@media (max-width: 890px) {
  #contato-bloco {
    background-color: var(--cor2);
    padding: 5rem 1rem;
  }

  .contato-conteiner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    height: 100%;
  }

  .contato-txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--cor6);
  }

  .contato-txt a {
    font-size: 1.5rem;
    color: #2dd881;
  }

  .contato-txt ul {
    display: flex;
    justify-content: space-around;
  }

  .contato-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contato-img img {
    width: 35vw;
    height: auto;
  }

  .contato-img a {
    color: var(--cor8);
    font-size: 1rem;
  }

  .form-card {
    background-color: var(--cor5);
    padding: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #0000004f;
    max-height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    row-gap: 1rem;
  }

  .form-card > a {
    font-weight: 700;
    color: var(--cor9);
    font-size: 1.5rem;
  }

  .campos-form {
    display: flex;
    flex-direction: column;
  }

  .campos-form input {
    background-color: var(--cor7);
    border-radius: 8px;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--cor9);
    font-weight: 600;
  }

  .campos-form input::placeholder {
    color: #7d9eb6;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  .campos-form label {
    color: var(--cor9);
    font-size: 1.3rem;
    font-weight: 300;
  }

  .campos-form textarea {
    background-color: var(--cor7);
    border-radius: 8px;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--cor9);
    font-weight: 600;
  }

  .campos-form textarea::placeholder {
    color: #7d9eb6;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  .btns-form {
    display: flex;
    justify-content: space-between;
  }

  .btns-form button {
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: var(--cor6);
    color: var(--cor5);
    border-radius: 4px;
    border: 2px solid var(--cor6);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.5s;
  }

  .btns-form button:hover {
    background-color: var(--cor5);
    color: var(--cor6);
    box-shadow: 3px 3px 8px #2dd8804f;
  }
}
@media (min-width: 891px) {
  #contato-bloco {
    background-color: var(--cor2);
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 100%;
  }

  .contato-conteiner {
    display: flex;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--cor2);
    padding: 1rem;
  }

  .contato-left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 50%;
    align-items: center;
    justify-content: center;
  }

  .contato-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    justify-content: center;
  }

  .contato-txt h1 {
    color: var(--cor6);
    font-size: 2rem;
  }

  .contato-txt p {
    color: var(--cor6);
    font-weight: 300;
  }

  .contato-txt a {
    color: var(--cor6);
  }

  .contato-img {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .contato-img a {
    color: var(--cor8);
    font-size: 0.3s;
  }

  .contato-img img {
    width: 30vw;
  }

  .contato-txt ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }

  .contato-txt ul li a {
    border: 3px solid transparent;
    transition: all 0.8s;
  }

  .contato-txt ul li a:hover {
    border-bottom: 3px solid var(--cor6);
  }

  .contato-right {
    display: flex;
    width: 50vw;
    max-width: 50%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .form-card {
    background-color: var(--cor5);
    padding: 1rem;
    display: flex;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #0000004f;
    max-height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    row-gap: 1rem;
  }

  .form-card > a {
    font-weight: 700;
    color: var(--cor9);
    font-size: 1.5rem;
  }

  .campos-form {
    display: flex;
    flex-direction: column;
  }

  .campos-form input {
    background-color: var(--cor7);
    border-radius: 8px;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--cor9);
    font-weight: 600;
  }

  .campos-form input::placeholder {
    color: #7d9eb6;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  .campos-form label {
    color: var(--cor9);
    font-size: 1.3rem;
    font-weight: 300;
  }

  .campos-form textarea {
    background-color: var(--cor7);
    border-radius: 8px;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--cor9);
    font-weight: 600;
  }

  .campos-form textarea::placeholder {
    color: #7d9eb6;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }

  .btns-form {
    display: flex;
    justify-content: space-between;
  }

  .btns-form button {
    padding: 0.3rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: var(--cor6);
    color: var(--cor5);
    border-radius: 4px;
    border: 2px solid var(--cor6);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.5s;
  }

  .btns-form button:active {
    background-color: var(--cor6);
    color: var(--cor5);
  }
  .btns-form button:hover {
    background-color: var(--cor5);
    color: var(--cor6);
    box-shadow: 3px 3px 8px #2dd8804f;
  }
}
